<h1>Perfil</h1>

<p>
  <strong>Nome:</strong>
  <%=@basic_unit.estab_name%>
</p>

<p>
  <strong>Telefone:</strong>
  <%=@basic_unit.phone%>
</p>

<p>
  <strong>Endereço:</strong>
  <%=@basic_unit.address.street%>
</p>

<p>
  <strong>Código do Município:</strong>
  <%=@basic_unit.address.country_code%>
</p>

<p>
  <strong>Cidade:</strong>
  <%=@basic_unit.city.name%>
</p>


<p>
  <strong>Distrito:</strong>
  <%=@basic_unit.district.district_name%>
</p>

<p>
  <strong>Código CNES:</strong>
  <%=@basic_unit.cnes_id%>
</p>

<p>
  <strong>Situação do estabelecimento:</strong>
  <%=@basic_unit.physical_situation%>
</p>

<p>
  <strong>Acessibilidade:</strong>
  <%=@basic_unit.special_needs_situation%>
</p>

<p>
  <strong>Condições dos remédios:</strong>
  <%=@basic_unit.meds_situation%>
</p>

<p>
  <strong>Condições dos equipamentos:</strong>
  <%=@basic_unit.equips_situation%>
</p>

<p>
  <strong>Avaliacao Média:</strong>
  <%
    sum = 0.0;
    evaluations = Evaluation.where(:basic_unit_id => @basic_unit.id);
    evaluations.each do |e|
      sum += e.rank
    end
    total = evaluations.count
    if total == 0
      average = "Nenhuma Avaliação"
    else
      average = "#{(sum/total).round(2)} / 5"
    end
  %>
  <tr><%= average %></tr>
</p>

<p>
  <strong>Qual seu nível de satisfação a respeito dessa UBS? </strong>

  <button type="button" class="btn-default btn-xs" onclick="evaluation(1)">
    <span class="glyphicon glyphicon-star" aria-hidden="true" id="rank1"></span>
  </button>

  <button type="button" class="btn-default btn-xs" onclick="evaluation(2)">
    <span class="glyphicon glyphicon-star" aria-hidden="true" id="rank2"></span>
  </button>

  <button type="button" class="btn-default btn-xs" onclick="evaluation(3)">
    <span class="glyphicon glyphicon-star" aria-hidden="true" id="rank3"></span>
  </button>

  <button type="button" class="btn-default btn-xs" onclick="evaluation(4)">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="rank4"></span>
  </button>

  <button type="button" class="btn-default btn-xs" onclick="evaluation(5)">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="rank5"></span>
  </button>

  <%= form_tag basic_unit_path, :method => 'patch' do %>
    <%= hidden_field_tag(:rank, "3") %>
    <%= submit_tag "Avaliar" %>
  <% end %>
</p>

<script>
  function evaluation(rank) {

    document.getElementById("rank").value = rank;

    for (var i = 1; i <= 5; i++) {
      if (i <= rank)
        document.getElementById("rank"+i).className = "glyphicon glyphicon-star";
      else
        document.getElementById("rank"+i).className = "glyphicon glyphicon-star-empty";
    };
  }
</script>

<%= content_tag(:div, nil,id: "fb-comment", :class => 'fb-comments', "data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-width" => '100%', "data-num-posts" => "3"  ) %>
<%= link_to 'Back', basic_units_path %>
