
<div class="row">
  <h1 class="page-header">
    <%= resource.user_name %>
    <small>Edit Profile</small>
  </h1>
  <ol class="breadcrumb">
    <%= link_to "Home", root_url%>
    </li>
  </ol>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,
      class: "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <!-- Username -->
      <div class="field">
        <%= f.label :user_name , class: "control-label" %><br/>
        <%= f.text_field :user_name, autofocus: true %>
      </div>
    </div>

    <div class="control-group">
      <!-- Email -->
      <div class="field">
        <%= f.label :email, class: "control-label" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="control-group">
      <!-- New Password -->
      <div class="controls">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <div class="control-group">
      <!-- Confirmation New Password -->
      <div class="controls">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
    
    <div class="control-group">
      <!-- Current Password -->
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <%= f.submit "Save" , class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  <%= link_to "Back", :back , class: "btn btn-primary" %>

  <!-- Inactivate Account -->
  <div id="legend">
    <legend class="">Cancel my account</legend>
  </div>

  <p><%= link_to 'Inactivate', registration_path(resource_name), class: "btn btn-danger", method: :delete %></p>

</div>